## Built-in read/write functions

In [ ]:
# create our text file to read
with open('textfile.txt', mode='w') as f:
    f.writelines(['This is a text file.\n', 'Now you can read it!'])

In [ ]:
# open a file and read the contents
file = open(file='textfile.txt', mode='r')
text = file.readlines()
text  # remember if our last line is a variable, jupyter notebook will print out that variable

In [ ]:
# this is the file object
file

In [ ]:
# the file is 'open' until we close it.
file.close()

In [ ]:
# the 'with' context will automatically close the file once we are out of the 'with' section
with open(file='textfile.txt', mode='r') as f:
    text = f.readlines()

text

In [ ]:
# the read function reads the entire file at once
with open(file='textfile.txt', mode='r') as f:
    text = f.read()

print(text)

In [ ]:
# remember we can take a subset of strings like this
text[:10]

In [ ]:
# writing to a file
# open the file in a text editor to see the results, or read it with Python
with open(file='writetest.txt', mode='w') as f:
    f.write('testing writing out')

In [ ]:
# writing a list of text to a file
# open the file in a text editor or read it through Python to see the results
text_lines = ['This is text for testing writing.', 'Now you can write to a file!']
with open(file='writetest2.txt', mode='w') as f:
    f.writelines(text_lines)

## JSON

In [2]:
import json
data_dictionary = {'books': 12, 'articles': 100, 'subjects': ['math', 'programming', 'data science']}

In [3]:
json_string = json.dumps(data_dictionary)
json_string
print(type(json_string))

<class 'str'>

In [4]:
data_dict = json.loads(json_string)
data_dict
print(type(data_dict))

<class 'dict'>

In [ ]:
with open('reading.json', 'w') as f:
    json.dump(data_dictionary, f)

In [ ]:
with open('reading.json') as f:
    loaded_data = json.load(f)

In [ ]:
loaded_data

## Credentials in a .py file

In [ ]:
import credentials as creds
print(f'username: {creds.username}\npassword: {creds.password}')

## The pickle library
pickle can be used for saving and loading raw Python objects.

In [ ]:
import pickle as pk

data_dictionary = {'books': 12, 'articles': 100, 'subjects': ['math', 'programming', 'data science']}

with open('readings.pk', 'wb') as f:
    pk.dump(data_dictionary, f)

In [ ]:
with open('readings.pk', 'rb') as f:
    data = pk.load(f)

print(data)

## The joblib library
We can also save and load data with joblib. First be sure to install it with `conda install -c conda-forge joblib -y` if you don't already have it installed. Joblib has extra features beyond pickle, such as compression, automatic opening and closing of files, and features to make saving/loading specific data (numpy arrays) faster. Pickle is often faster than joblib, except in special situations (which is why we didn't cover it in the book). This extra section is for your extra knowledge.

In [ ]:
import joblib

joblib.dump(value=data_dictionary, filename='readings.job', compress=True)

In [ ]:
data = joblib.load(filename='readings.job')
data

We can time how long something takes with the magic command `%%timeit` in Jupyter Notebooks. Note that pickle is faster for saving and reading this dictionary.

In [ ]:
%%timeit
joblib.dump(value=data_dictionary, filename='readings.job', compress=True)

In [ ]:
%%timeit
with open('readings.pk', 'wb') as f:
    pk.dump(data_dictionary, f)

In [ ]:
%%timeit
data = joblib.load(filename='readings.job')

In [ ]:
%%timeit
with open('readings.pk', 'rb') as f:
    data = pk.load(f)

We can see that for normal dictionaries, pickle is much faster for saving and loading than joblib.

## sqlite3

When we install Python, we also install SQLite3. We can use it from within Python, but also from the command line. If we open a terminal and type `sqlite3`, it takes us to the SQLite shell. From the shell, we can run any SQLite command. For example, if we are in the directory with the chinook.db file from this GitHub repo (within the same folder that contains this notebook), we can type `.open chinook.db` to load the database. Then we can see the tables within the database with `.tables`. We can also connect to the database through Python and run commands as show below.

In [ ]:
import sqlite3
connection = sqlite3.connect('chinook.db')
cursor = connection.cursor()

In [ ]:
# list out tables -- .table does not work from Python sqlite3
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

In [ ]:
# get table information (column names, types, settings)
cursor.execute('PRAGMA table_info(artists);')
cursor.fetchall()

In [ ]:
# SELECT the first 5 rows of artists
cursor.execute('SELECT * FROM artists LIMIT 5;')
cursor.fetchall()

In [ ]:
# especially for longer queries, it helps to format them like this, with each SQL command on a separate line
query = """
SELECT *
FROM artists
LIMIT 5;
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
# get table information (column names, types, settings)
cursor.execute('PRAGMA table_info(invoices);')
cursor.fetchall()

In [ ]:
# save table column names in a list
cursor.execute('PRAGMA table_info(invoices);')
results = cursor.fetchall()
column_names = [r[1] for r in results]

In [ ]:
column_names

In [ ]:
cursor.execute('SELECT * FROM invoices LIMIT 5;')
cursor.fetchall()

In [ ]:
# ORDER BY
cursor.execute('SELECT Total, InvoiceDate from invoices ORDER BY Total DESC LIMIT 5;')
cursor.fetchall()

In [ ]:
# WHERE statement
cursor.execute('SELECT Total, BillingCountry from invoices WHERE BillingCountry == "Canada" LIMIT 5;')
cursor.fetchall()

In [ ]:
# WHERE using an inserted argument
cursor.execute('SELECT Total, BillingCountry from invoices WHERE BillingCountry == ? LIMIT 5;', ('Canada',))
cursor.fetchall()

In [ ]:
# LIKE command
cursor.execute('SELECT Total, BillingCountry from invoices WHERE BillingCountry LIKE "%can%" LIMIT 5;')
cursor.fetchall()

In [ ]:
# GROUP BY statement
cursor.execute('SELECT SUM(Total), BillingCountry from invoices GROUP BY BillingCountry ORDER BY SUM(Total) DESC LIMIT 5;')
cursor.fetchall()

In [ ]:
# examine column names for invoice_items table
cursor.execute('PRAGMA table_info(invoice_items);')
cursor.fetchall()

In [ ]:
# examine a sample of the data
cursor.execute('SELECT * FROM invoice_items LIMIT 5;')
cursor.fetchall()

In [ ]:
# aliases can be used to rename columns and tables
# according to some SQL style guides, it's not best practice to alias a table
cursor.execute('SELECT i.TrackID as tid, i.UnitPrice as up FROM invoice_items as i LIMIT 5;')
cursor.fetchall()

In [ ]:
# DISTINCT
cursor.execute('SELECT DISTINCT UnitPrice FROM invoice_items;')
cursor.fetchall()

In [ ]:
# JOIN
# get tracks that were purchased and combine with the country
query = """
SELECT invoices.BillingCountry, invoice_items.TrackId
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId = invoice_items.InvoiceId
LIMIT 5;
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
# get number of purchased tracks for each track by country, sorted by the top-most purchased
query = """
SELECT invoice_items.TrackId, COUNT(invoice_items.TrackId), invoices.BillingCountry
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId = invoice_items.InvoiceId
GROUP BY invoices.BillingCountry
ORDER BY COUNT(invoice_items.TrackId) DESC
LIMIT 5;
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
# multiple JOINs
query = """
SELECT tracks.Name, COUNT(invoice_items.TrackId), invoices.BillingCountry
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId = invoice_items.InvoiceId
JOIN tracks
ON tracks.TrackId = invoice_items.TrackId
GROUP BY invoices.BillingCountry
ORDER BY COUNT(invoice_items.TrackId) DESC
LIMIT 5;
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
# this same command as above can also be done with a subquery like this, but is easier with multiple joins
query = """
SELECT tracks.Name, invoice_merged.track_count, invoice_merged.BillingCountry
FROM
    (SELECT ii.TrackId, COUNT(ii.TrackId) as track_count, i.BillingCountry
    FROM invoices as i
    JOIN invoice_items as ii
    ON i.InvoiceId = ii.InvoiceId
    GROUP BY BillingCountry) as invoice_merged
JOIN tracks
ON tracks.TrackId = invoice_merged.TrackId
ORDER BY track_count DESC
LIMIT 5;
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
# be sure to close the connection when done
connection.close()

### Storing data in a sqlite3 database

In [5]:
# hypothetical book sales data
book_data = [('12-1-2020', 'Practical Data Science With Python', 19.99, 1),
       ('12-15-2020', 'Python Machine Learning', 27.99, 1),
       ('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1)]

<class 'tuple'>

In [ ]:
# CREATE and INSERT
connection = sqlite3.connect('book_sales.db')
cursor = connection.cursor()

In [ ]:
# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS book_sales
             (date text, book_title text, price real, quantity real)''')

In [ ]:
# the table is now there
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

In [ ]:
# Insert a row of data
cursor.execute("INSERT INTO book_sales VALUES (?, ?, ?, ?)", book_data[0])

In [ ]:
cursor.execute('SELECT * FROM book_sales ;')
cursor.fetchall()

In [ ]:
# Save the changes with .commit()
# Without this line, the inserted data will not be saved in the database after we close the connection
connection.commit()

In [ ]:
# insert several records at a time
cursor.executemany('INSERT INTO book_sales VALUES (?, ?, ?, ?)', book_data[1:])
# don't forget to save the changes
connection.commit()

In [ ]:
cursor.execute('SELECT * FROM book_sales;')
cursor.fetchall()

In [ ]:
connection.close()

## SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///book_sales.db')
connection = engine.connect()

In [ ]:
result = connection.execute("select * from book_sales")
result

In [ ]:
list(result)

In [ ]:
for row in result:
    print(row['date'])

In [ ]:
result = connection.execute("select * from book_sales")
for row in result:
    print(row['date'])

In [ ]:
# be sure to close the connection when finished
connection.close()

In [ ]:
# we can also use the with clause to automatically close the connection
with engine.connect() as connection:
    result = connection.execute("select * from book_sales")
    for row in result:
        print(row)

In [ ]:
connection.closed

In [ ]:
# the connection is closed from the 'with' statement, so we can't use it
# notice in the middle and at the bottom of the error, it says 'This Connection is closed'
result = connection.execute("select * from book_sales")

In [ ]:
from sqlalchemy import MetaData, Table

metadata = MetaData(engine)
book_sales = Table('book_sales', metadata, autoload=True)
conn = engine.connect()

In [ ]:
res = conn.execute(book_sales.select())
for r in res:
    print(r)

In [ ]:
ins = book_sales.insert().values(book_title='machine learining', price='10.99')
conn.execute(ins)

In [ ]:
res = conn.execute(book_sales.select())
for r in res:
    print(r)