# Project 1
# Load the bitcoin_price.json data file by opening the file using the built-in json module.
# Save this data to a SQLite database.
# Query the database using sqlite3 for the following:
# The earliest and latest dates (hint: the MAX and MIN aggregate functions will help)
# The maximum price for each year (grouped by year) and sorted by year

In [ ]:
import json
with open('Notebooks/Data/bitcoin_price.json') as f:
    data = json.load(f) #list of dictionaries

In [ ]:
data_list = []
for d in data:
    data_list.append([d['time'], d['open'], d['close'], d['high'], d['low'], d['volume']])

In [ ]:
import sqlite3
db = sqlite3.connect('Notebooks/Data/bitcoin_data.sql')
cursor = db.cursor()
cursor.execute('CREATE TABLE bitcoin_price (time INTEGER, open REAL, close REAL, high REAL, low REAL, volume REAL);')
cursor.executemany('INSERT INTO bitcoin_price VALUES (?, ?, ?, ?, ?, ?)', data_list)
db.commit()
db.close()

In [ ]:
db = sqlite3.connect('Notebooks/Data/bitcoin_data.sql')
cursor = db.cursor()
max_time = cursor.execute('SELECT MAX(time) FROM bitcoin_price;').fetchone()[0]
min_time = cursor.execute('SELECT MIN(time) FROM bitcoin_price;').fetchone()[0]

In [ ]:
import datetime
datetime.datetime.fromtimestamp(max_time // 1000)
datetime.datetime.fromtimestamp(min_time // 1000)

In [ ]:
query = """
SELECT MAX(close), STRFTIME('%Y', DATE(ROUND(time / 1000), 'unixepoch')) as year
FROM bitcoin_price
GROUP BY year
ORDER BY year;
"""
max_price = cursor.execute(query)
max_price.fetchall()

In [ ]:
db.close()

# Project 2
# Connect to the chinook.db sqlite3 database with SQLAlchemy.
# Find the genre names with the longest average song length.

In [6]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Data/chinook.db')
connection = engine.connect()
query = """
SELECT AVG(tracks.Milliseconds) /1000, genres.Name
FROM tracks
JOIN genres
ON tracks.genreid = genres.genreid
GROUP BY tracks.genreid
ORDER BY AVG(tracks.Milliseconds) DESC;"""
result = connection.execute(query)
for row in result:
    print(row)    
connection.close()

(2911.7830384615386, 'Sci Fi & Fantasy')
(2625.549076923077, 'Science Fiction')
(2575.28378125, 'Drama')
(2145.041021505376, 'TV Shows')
(1585.263705882353, 'Comedy')
(309.74944385026737, 'Metal')
(302.9858, 'Electronica/Dance')
(297.4529285714286, 'Heavy Metal')
(293.86756756756756, 'Classical')
(291.75537692307694, 'Jazz')
(283.9100431765613, 'Rock')
(270.35977777777777, 'Blues')
(264.05852500000003, 'Alternative')
(247.17775862068964, 'Reggae')
(244.37088372093024, 'Soundtrack')
(234.35384939759035, 'Alternative & Punk')
(232.85926252158893, 'Latin')
(229.03410416666665, 'Pop')
(224.92382142857142, 'World')
(220.0668524590164, 'R&B/Soul')
(219.59, 'Bossa Nova')
(189.16420833333333, 'Easy Listening')
(178.1762857142857, 'Hip Hop/Rap')
(174.813, 'Opera')
(134.6435, 'Rock And Roll')